
<%- include('head'); %>
<%- include('navBar');%>

<h1><%= success %> good job</h1>
<h2><%= failure %> don't be dissapoint!</h2>
<h2><%= validated %></h2>

<%# Sharp is pure EJS comment %>
<%- html %>